.introduction {
	background: transparent;
	height: 1000px;
	width: 100%;
	font-family: $sans;

		h1 {
			padding-top: 35%;
			color: #886F35;
		}
}


.work {
	background: transparent;
	height: 1000px;
	width: 100%;
	font-family: $sans;

		h1 {
			color: #ABAFBA;
		}
		strong {
			color: #38497B !important;
		}
}

.contact {
	background: transparent;
	height: 740px;
	width: 100%;
	font-family: $sans;

		h1, h2 {
			color: #3A205E;
		}
		h2 {
			margin-top: 40px;
		}

}



h1 {
	padding-top: 40%;
	font-size: 40px;
	line-height: 1.3;
}
h2 {
	font-weight: 700;
	font-size: 26px;
	line-height: 1.3;
}
a {
	color: inherit;
	text-decoration: none;
}
strong {
	font-weight: 700 !important;
}