::selection {
	background: $select; /* Safari */
	}
::-moz-selection {
	background:$select; /* Firefox */
}

body {
background-image: linear-gradient(-180deg, #FFFCF5 12%, #F4F5F7 51%, #F2F0F8 83%);
}